<html>
    <head>
        <title>Weather.co</title>
    </head>
    <body>
        <h1>About</h1>
        <p>This website aims to be a public archive of weather data of all the cities around the world.</p>
        <p>Currently, the supported cities are: </p>
        <ul>
            <li> Murree, Pakistan. Data from 2006-2012. </li>
        </ul>
        <h2>Query database</h2>
        <form>
            <label for="location"><b> Select a Location: </b></label>
            <select id="location" name="location">
                <option value="" disabled selected>City, Country</option>
                <option value="murree">Murree, Pakistan</option>
            </select>
        </form>
        <form>
            <p> <b> Select option: </b> </p>
            
            <div>
                <input type="checkbox" id="option_one" name="option" value="one">
                <label for="option_one">
                    For a given year display the highest temperature and day, lowest temperature and day, most humid day and humidity.
                </label>
            </div>

            <div>
                <input type="checkbox" id="option_two" name="option" value="two">
                <label for="option_two">
                    For a given month display the average highest temperature, average lowest temperature, average mean humidity.
                </label>
            </div>

            <div>
                <input type="checkbox" id="option_three" name="option" value="three">
                <label for="option_three">
                    For a given month draw two horizontal bar charts on the console for the highest and lowest temperature on each day.
                </label>
            </div>
            
    </form>

    <button>Search</button>
    </body>
</html>